openapi: 3.0.1
info:
  title: Linkup Credits Fetch API
  description: Production-grade web search and answer API for AI agents and LLMs. The /search endpoint grounds model responses in real-time web context, returning ranked results, sourced answers with inline citations, or schema-driven structured output. /fetch converts a URL into clean LLM-ready markdown, /research starts an asynchronous deep-research task, and /credits/balance reports remaining account credits. All endpoints authenticate with a Bearer API key.
  termsOfService: https://www.linkup.so/terms-of-service
  contact:
    name: Linkup
    url: https://www.linkup.so
  version: '1.0'
servers:
- url: https://api.linkup.so/v1
security:
- bearerAuth: []
tags:
- name: Fetch
paths:
  /fetch:
    post:
      operationId: fetch
      tags:
      - Fetch
      summary: Fetch a URL as clean LLM-ready markdown.
      description: Retrieves the content of a given URL and returns it as clean markdown, with options to render JavaScript, include raw HTML, and extract images.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FetchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '402':
          description: Payment Required (insufficient credits)
        '429':
          description: Too Many Requests
components:
  schemas:
    FetchRequest:
      type: object
      required:
      - url
      properties:
        url:
          type: string
          format: uri
          description: The URL of the webpage to fetch.
        renderJs:
          type: boolean
          default: false
          description: Whether the API should render the JavaScript of the webpage.
        includeRawHtml:
          type: boolean
          default: false
          description: Whether to include the raw HTML of the webpage in the response.
        extractImages:
          type: boolean
          default: false
          description: Whether to extract images from the webpage in the response.
    FetchResponse:
      type: object
      required:
      - markdown
      properties:
        markdown:
          type: string
          description: The webpage content as clean markdown.
        rawHtml:
          type: string
          description: The raw HTML of the webpage (when includeRawHtml is true).
        images:
          type: array
          items:
            type: object
            required:
            - alt
            - url
            properties:
              alt:
                type: string
              url:
                type: string
                format: uri
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'Pass your Linkup API key as `Authorization: Bearer <API_KEY>`.'
